@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yellowtail&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #4677F5;
  font-family: "Roboto", sans-serif;
}

.parent-box {
  width: 32%;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 13, 255, 0.6235294118);
}
.parent-box .navbar {
  padding: 1.8rem;
}
.parent-box .navbar .top-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.parent-box .navbar .top-box i {
  font-size: 1rem;
  color: #ccc;
  transition: all 0.2s linear;
}
.parent-box .navbar .top-box i:hover {
  color: #000;
}
.parent-box .navbar .top-box h5 {
  font-size: 1rem;
  letter-spacing: 0.5px;
}
.parent-box .map_item {
  background: url("../img/map.png") no-repeat center center;
  background-size: cover;
  position: relative;
  transform: scale(1.04);
  border-radius: 3px;
  box-shadow: 2px 2px 12px 0 rgba(94, 94, 94, 0.7215686275);
  margin-bottom: 1.8rem;
}
.parent-box .map_item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 13, 255, 0.2901960784);
  height: 100%;
  width: 100%;
  border-radius: 3px;
}
.parent-box .map_item .center-box {
  position: relative;
  z-index: 1;
  padding: 1.5rem;
}
.parent-box .map_item .location_box {
  position: relative;
}
.parent-box .map_item .location_box i {
  position: absolute;
  top: -10px;
  left: 44%;
  transform: translateX(-100%);
  color: #fff;
  font-size: 0.8rem;
}
.parent-box .map_item .location_box h6 {
  font-size: 0.8rem;
  color: #fff;
  margin: 0;
}
.parent-box .map_item .location_box .location_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.parent-box .map_item .location_box .location_span {
  display: flex;
  align-items: center;
}
.parent-box .map_item .location_box .location_span span:not(:nth-child(2),
:nth-child(3)) {
  width: 7px;
  height: 7px;
  background: #fff;
  display: inline-block;
  border-radius: 50%;
}
.parent-box .map_item .location_box .location_span span:nth-child(2) {
  width: 55px;
  height: 2px;
  background: #fff;
  display: inline-block;
}
.parent-box .map_item .location_box .location_span span:nth-child(3) {
  width: 115px;
  height: 2px;
  display: inline-block;
  background: rgba(213, 209, 209, 0.5568627451);
}
.parent-box .map_item .distance_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.parent-box .map_item .distance_item h5 {
  font-size: 0.8rem;
  color: #fff;
  font-weight: 500;
}
.parent-box .map_item .map-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #3E6CF6;
  padding: 0.5rem;
  position: absolute;
  left: 65%;
  bottom: -1rem;
  border-radius: 5px;
  transition: background 0.3s linear;
}
.parent-box .map_item .map-box h5 {
  font-size: 0.7rem;
  color: #fff;
  font-weight: 400;
  margin-left: 0.5rem;
}
.parent-box .map_item .map-box i {
  color: #fff;
  font-size: 0.6rem;
}
.parent-box .map_item .map-box:hover {
  background: #4062c9;
}
.parent-box h6 {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 1.7rem 0 1.7rem 1.7rem;
}
.parent-box .section .section_item {
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.parent-box .section .section_item .section_img img {
  margin-right: 1.5rem;
}
.parent-box .section .section_item .section_letter h6 {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 500;
  color: #958b88;
}
.parent-box .section .section_item .section_letter p {
  font-size: 0.9rem;
  font-weight: 500;
}
.parent-box .section .section-img {
  background: url("../img/streetview.jpg") no-repeat center center;
  background-size: cover;
  padding: 1.2rem 0 1.2rem 1rem;
  margin: 0 0 1.5rem 1rem;
  border-radius: 5px 0 0 5px;
}
.parent-box .section .section-img i {
  color: #fff;
}

@media only screen and (max-width: 1100px) {
  .parent-box {
    width: 35%;
  }
}
@media only screen and (max-width: 950px) {
  .parent-box {
    width: 40%;
  }
}
@media only screen and (max-width: 845px) {
  .parent-box {
    width: 45%;
  }
}
@media only screen and (max-width: 730px) {
  .parent-box {
    width: 50%;
  }
}
@media only screen and (max-width: 650px) {
  .parent-box {
    width: 55%;
  }
}
@media only screen and (max-width: 556px) {
  body {
    height: auto;
  }
  .parent-box {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
}/*# sourceMappingURL=style.css.map */